.hero {
  position: relative;;
}

.imageWrapper {
  position: relative;
  border-radius: 30px;
  width: 90vw;
  max-width: 1800px;
  margin: 0 auto;
  height: 720px;
  overflow: hidden;

}

.image {
  object-fit: cover;
  object-position: center 30%;
}

.title {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}
