.wrapper {
  position: relative;
}

.navbarFloat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  pointer-events: none;
}

.main {
  position: relative;
  z-index: 0;
  padding-top: var(--menu-full);
}
