.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  background: transparent;
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav {
  position: relative;
  background-image: linear-gradient(180deg, #dfba6f, #c9955d);
  border-radius: 999px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  height: 64px;
  width: 70vw;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  justify-content: center;
}

.logoWrapper {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.logo {
  width: 75% !important;
  height: 75% !important;
  object-fit: contain;
}

.menu {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.525rem;
  font-weight: 500;
  color: #000;
  width: 100%;
  max-width: 700px;
}

.menu li:nth-child(1) {
  justify-self: end;
  margin-right: clamp(2rem, 10vw, 12rem);
}

.menu li:nth-child(2) {
  justify-self: center;
}

.menu li:nth-child(3) {
  justify-self: start;
  margin-left: clamp(2rem, 10vw, 12rem);
}

.link {
  text-decoration: none;
  color: black;
  transition: opacity 0.2s ease;
  font-family: var(--font-title);
}

.link:hover {
  opacity: 0.5;
}
